table {
        border-collapse: collapse;
        width: 40%;
        overflow-y: auto;
        display: block;
       
}

th,
td {

        padding: 10px;
        text-align: left;
        white-space: nowrap;

}

#line {
        background-color: #00BFFF;
         width: 5vw;
  
}

th {
        background-color: #00BFFF;
        position: sticky;
        top: 0;
}

tr:nth-child(even) {
            position: sticky;
            left: 0;
            background-color: #DCDCDC;
}

